/**

 Colors:
 red color: #f34915
 green color: #4fba26

 */

.mt_30{
    margin-top: 30px;
}
/* 头部logo位置 */
.header.navbar .navbar-brand{
    padding-left: 10px;
    color: #999999;
    font-weight: bold;
    font-size: 20px;
}

/* ===component=== */

/* 搜索 */

.search {
    margin-bottom: 15px;
}
.search:before,.search:after{
    content: " ";
    display: table;
}
.search:after{
    clear: both;
}
.search .form-group {
    margin: 5px 10px;
    float: left;
}
.search .form-control {
    width: 150px ;
}
.search .control-label {
    width: 100px;
    text-align: right;
    vertical-align: top;
    padding-top: 7px;
}

.search .input-group .form-control {
    width: 100px !important;
}
.search .date-control {
    width: 300px;
    vertical-align: top;
    display: inline-block;
}
.search .small.date-control{
    width: 240px !important;
}
.search .actions {
    margin-left: 20px;
    display: inline-block;
}
.search .radio-list{
    display: inline-block;
    vertical-align: top;
    margin-top: 7px;
}
.search .radio-inline{
    margin-left: 0;
    padding-left: 0;
}
.search .checkbox-list{
    display: inline-block;
    vertical-align: top;
    margin-top: 7px;
}
.search .checkbox-inline{
    margin-left: 0;
    padding-left: 0;
}
.search input{
    vertical-align: top;
}

.btn.date-reset {
    background-color: #F9F9F9;
    border: 1px solid #E5E5E5;
    margin-left: -1px;
    padding: 6px 13px;
}

/* 表格 */
.zqy-table {
    border-top: 3px solid #e02222;
    margin-top: 10px;
}

.idColmn{
    padding-left: 20px !important;
    position: relative;
}
.idColmn .label{
    position: absolute;
    left: -10px;
}
.idColmn i{
    position: absolute;
    left: -5px;
}


/* 进度条 */
.index_ayb_bar { display:inline-block; width:100px; height:5px; background-color:#e8e8e8; border-radius:3px; position:relative;}
.index_ayb_barPos { position:absolute; left:0; top:0; height:5px; background-color:#ff6815; border-radius:3px;}
.zqy-table .index_ayb_bar{width: 100%;}

/* end component */

/* ===color=== */
.color_f34915{
    color: #f34915;
}
.colorGreen{
    color: #4fba26;
}

/* end color */

/* ===icons=== */
/* 用户信用度 */
.personalCreditIcon { display:inline-block; width:25px; height:25px; background:url(../img/icons/userCenter.png) no-repeat; vertical-align:middle;}
.personalCreditAAA { background-position:0 -96px;}
.personalCreditAA { background-position:-25px -96px;}
.personalCreditA { background-position:-50px -96px;}
.personalCreditB { background-position:-75px -96px;}
.personalCreditC { background-position:-100px -96px;}
.personalCreditD { background-position:-125px -96px;}

/* end icons */

.itemBox{
    border: 1px solid #DDDDDD;
}
.itemBox .modalBox{
    padding: 10px;
}
.itemBox .title{
    border-bottom: 1px solid #DDDDDD;
}
.infoList{
    border-right: 1px solid #DDDDDD;
    padding-top: 10px;
}
.infoListRight{
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
}
.index_aqb_black { font-size:18px; color:#555555; font-weight:bold;}
.height410{height: 410px !important;}
.modalImgBox{
    width: 100%;
}
.modalImgBox img{
    width: 100%;
}

/*  借款  */
.loanInfo{
    border: 1px solid #DDDDDD;
    position: relative;
}

.idTitle{
    border-bottom: 1px solid #DDDDDD;
    padding: 10px;
    font-size: 18px;
}
.loanInfo .title{
    display: inline-block;
    height: 180px;
    line-height: 180px;
    margin: 0;
}
.loanInfoItem .form-group:before,.loanInfoItem .form-group:after{
    content: " ";
    display: table;
}
.loanInfoItem .form-group:after{
    clear: both;
}
.loanInfoItem .body{
    padding-top: 15px;
}
.loanInfoP{
    border-top: 1px solid #DDDDDD;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}
.loanInfoP.big{
    height: 70px;
    line-height: 2;
    padding-top: 10px;
}
.form-col-2{
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    width: 50%;
}

.vItem{
    height: 93px;
}
.vItem.medium{
    height: 80px;
}

.vTitle{
    padding: 25px 0 0;
    margin-top: 0;
}
.vItem:first-child{
    border-bottom: 1px solid #DDDDDD;
}
.vItem .form-col-2{
    line-height: 93px;
    height: 93px;
}
.vItem.small{
    height: 50px;
}
.vItem.small .form-col-2{
    line-height: 50px;
    height: 50px;
}
.vItem label{
    margin: 0;
}
.vItem .form-col-2:first-child{
    border-right: 1px solid #DDDDDD;
}
.loanClearTime{
    text-align: right;
    margin-right: 10px;
    font-size: 12px;
}

/* 手机绑定审核 证件对照 */
.comparisonImgBox{
    border: 1px solid #DDDDDD;
}
.comparisonImgBox img{
    width: 340px;
    height: 200px;
    margin: 10px;
    padding: 5px;
}

.checklist-boxer{
    border: 1px solid #DDDDDD;
    padding: 0 10px 10px;
    margin-top: 5px;
}
.checklist-boxer .checkbox-inline{
    width: 155px;
    padding-left: 0;
    margin-left: 0;
}

/* 满标图标，流标图标 */
.safetyDetail_detail_img {
    width: 154px;
    height: 153px;
    margin: 70px auto 0 auto;
    overflow: hidden; }

.safetyDetail_detail_img img {
    width: 154px;
    height: 153px; }

.safetyDetail_detail_full{
    position: absolute;
    right: -10px;
    bottom: -50px;
}



/* 配置 */
.configHint{
    margin: 10px 0 20px;
    text-align: center;
}
.vMiddleTable tbody tr td{
    vertical-align: middle;
}

.templateEdit{
    position: relative;
}

.templateEditOverBox{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 811215;
    background-color: #EEEEEE;
    opacity: 0.5;
}

/* 统计管理 */
.totalRow label{
    font-size: 24px;
}
.statForm .totalRow .form-control-static{
    font-size: 24px;
}
.statForm .form-control-static{
    font-size: 16px;
    padding-top: 5px;
}
.investmentTable{
    text-align: center;
}
.investmentTable tbody tr td{
    vertical-align: middle;
    padding: 20px 0;
    font-size: 15px;
}

.rankingTable .top .rankingCell,.rankingTable .top .totalCell{
    color: #f34915;
}

.rankingTable tbody tr td,.rankingTable tr th{
    text-align: center;
}
.markStatTable tbody tr td,.markStatTable th{
    vertical-align: middle;
    padding: 10px 0;
    text-align: center;
}

.changePasswordForm{
    border: 1px solid #DDDDDD;
    margin-bottom: 10px;
    display: none;
}
.closeBox{
    padding: 10px;
}
.uc-actions{float: right;}
